#root {
  margin: 10px 10px 10px 10px;
}

.wrapper {
  overflow-y: scroll;
  height: 800px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border: 1px dashed black;
}